In [1]:
import pandas as pd

import gc # To collect garbage values generated during running

import matplotlib.pyplot as plt

import numpy as np

import seaborn as sns

In [3]:
d = pd.read_csv('2017_eda_ranked_with_rounds.csv')

In [4]:
rb = d.loc[d['Position'] == 'RB']
wr = d.loc[d['Position'] == 'WR']

In [5]:
wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-5-ea88c15edb18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr['performance_fp_wr'] = wr['FantasyPointsRank'].rank(ascending = True)
<ipython-input-5-ea88c15edb18>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rb['performance_fp_rb'] = rb['FantasyPointsRank'].rank(ascending = True)

In [6]:
te = d.loc[d['Position'] == 'TE']
te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

<ipython-input-6-c576e4e6ce8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te['performance_fp_te'] = te['FantasyPointsRank'].rank(ascending = True)

In [7]:
qb = d.loc[d['Position'] == 'QB']
qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

<ipython-input-7-4882867569a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qb['performance_fp_qb'] = qb['FantasyPointsRank'].rank(ascending = True)

In [8]:
k = d.loc[d['Position'] == 'PK']
k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

<ipython-input-8-d0b0a0dfd751>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['performance_fp_qb'] = k['FantasyPointsRank'].rank(ascending = True)

In [9]:
Def = d.loc[d['Position'] == 'Def']
Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

<ipython-input-9-1cd933a4c506>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Def['performance_fp_qb'] = Def['FantasyPointsRank'].rank(ascending = True)

In [10]:
rb_50 = rb.head(50)
after_rb = rb_50[(rb_50['FantasyPointsRank'] <= 70)]
after_rb.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Bell,Le'Veon,Le'Veon Bell,1,1,469,76,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
5,6,Elliott,Ezekiel,Ezekiel Elliott,1,1,448,71,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,442,76,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,7.0
7,8,Gordon,Melvin,Melvin Gordon,1,1,571,72,RB,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,5.0
8,9,Freeman,Devonta,Devonta Freeman,1,1,532,77,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,13.0
10,11,Fournette,Leonard,Leonard Fournette,1,1,541,98,RB,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,8.0
13,14,Gurley,Todd,Todd Gurley,2,1,447,78,RB,LAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
18,19,Howard,Jordan,Jordan Howard,2,1,449,72,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,12.0
21,22,McCaffrey,Christian,Christian McCaffrey,2,1,542,98,RB,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,11.0
25,26,Miller,Lamar,Lamar Miller,3,1,450,74,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,16.0
35,36,Hyde,Carlos,Carlos Hyde,3,1,530,75,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,9.0
43,44,Ingram,Mark,Mark Ingram,4,1,461,80,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
44,45,Hunt,Kareem,Kareem Hunt,4,1,546,97,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,4.0
91,111,Kamara,Alvin,Alvin Kamara,8,1,600,78,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
103,125,Johnson,Duke,Duke Johnson,9,1,449,69,RB,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,15.0

In [11]:
wr_50 = wr.head(50)
after_wr = wr_50[(wr_50['FantasyPointsRank'] <= 70)]
after_wr.head(50)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,433,77,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2.0
2,3,Jones,Julio,Julio Jones,1,1,438,77,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,4.0
3,4,Evans,Mike,Mike Evans,1,1,425,72,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,17.0
4,5,Green,A.J.,A.J. Green,1,1,395,72,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
12,13,Thomas,Michael,Michael Thomas,2,1,392,78,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,6.0
20,21,Cooks,Brandin,Brandin Cooks,2,1,389,79,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,12.0
22,23,Hopkins,DeAndre,DeAndre Hopkins,2,1,364,74,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0
23,24,Baldwin,Doug,Doug Baldwin,2,1,528,74,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
28,29,Thomas,Demaryius,Demaryius Thomas,3,1,502,75,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,20.0
29,30,Allen,Keenan,Keenan Allen,3,1,532,75,WR,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,3.0
32,33,Jeffery,Alshon,Alshon Jeffery,3,1,514,80,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,18.0
34,35,Adams,Davante,Davante Adams,3,1,416,75,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,14.0
36,37,Hill,Tyreek,Tyreek Hill,4,1,468,80,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,8.0
38,39,Landry,Jarvis,Jarvis Landry,4,1,455,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,7.0
40,41,Tate,Golden,Golden Tate,4,1,390,76,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,15.0
47,48,Diggs,Stefon,Stefon Diggs,4,1,519,81,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,19.0
48,49,Fitzgerald,Larry,Larry Fitzgerald,5,1,415,76,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,5.0
95,115,Thielen,Adam,Adam Thielen,8,2,563,75,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,10.0
118,144,Jones,Marvin,Marvin Jones,10,4,470,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,9.0

In [12]:
te_50 = te.head(50)
after_te = te_50[(te_50['FantasyPointsRank'] <= 70)]
after_te.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
14,15,Gronkowski,Rob,Rob Gronkowski,2,1,353,78,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,1.0
27,28,Kelce,Travis,Travis Kelce,3,1,535,79,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,2.0
74,85,Ertz,Zach,Zach Ertz,7,3,450,79,TE,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,3.0

In [13]:
qb_50 = qb.head(50)
after_qb = qb_50[(qb_50['FantasyPointsRank'] <= 70)]
after_qb.head(30)

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
24,25,Brady,Tom,Tom Brady,3,1,491,76,QB,NEP,...,NaN,NaN,NaN,NaN,385.0,8.0,35.0,25.0,5.0,3.0
33,34,Brees,Drew,Drew Brees,3,1,495,76,QB,NOS,...,NaN,NaN,NaN,NaN,386.0,8.0,20.0,33.0,13.0,8.0
42,43,Keenum,Case,Case Keenum,4,1,1243,5,QB,MIN,...,NaN,NaN,NaN,NaN,325.0,7.0,22.0,40.0,22.0,13.0
46,47,Ryan,Matt,Matt Ryan,4,1,472,77,QB,ATL,...,NaN,NaN,NaN,NaN,342.0,12.0,24.0,32.0,25.0,14.0
51,52,Wilson,Russell,Russell Wilson,5,1,478,73,QB,SEA,...,NaN,NaN,NaN,NaN,339.0,11.0,43.0,95.0,2.0,1.0
58,62,Carr,Derek,Derek Carr,5,1,509,73,QB,OAK,...,NaN,NaN,NaN,NaN,323.0,13.0,20.0,23.0,33.0,18.0
60,67,Winston,Jameis,Jameis Winston,6,1,473,74,QB,TBB,...,NaN,NaN,NaN,NaN,282.0,11.0,33.0,33.0,38.0,19.0
61,69,Newton,Cam,Cam Newton,6,1,479,77,QB,CAR,...,NaN,NaN,NaN,NaN,291.0,16.0,35.0,139.0,3.0,2.0
68,76,Mariota,Marcus,Marcus Mariota,6,1,503,77,QB,TEN,...,NaN,NaN,NaN,NaN,281.0,15.0,27.0,60.0,29.0,17.0
72,82,Cousins,Kirk,Kirk Cousins,7,1,498,74,QB,WAS,...,NaN,NaN,NaN,NaN,347.0,13.0,41.0,49.0,8.0,5.0
79,92,Roethlisberger,Ben,Ben Roethlisberger,7,1,481,79,QB,PIT,...,NaN,NaN,NaN,NaN,360.0,14.0,21.0,28.0,16.0,10.0
81,95,Prescott,Dak,Dak Prescott,7,1,533,73,QB,DAL,...,NaN,NaN,NaN,NaN,308.0,13.0,32.0,57.0,15.0,9.0
90,109,Stafford,Matthew,Matthew Stafford,8,1,616,74,QB,DET,...,NaN,NaN,NaN,NaN,371.0,10.0,47.0,29.0,10.0,6.0
94,114,Rivers,Philip,Philip Rivers,8,1,487,74,QB,LAC,...,NaN,NaN,NaN,NaN,360.0,10.0,18.0,18.0,11.0,7.0
123,149,Dalton,Andy,Andy Dalton,11,1,620,71,QB,CIN,...,NaN,NaN,NaN,NaN,297.0,12.0,39.0,38.0,28.0,16.0
126,153,Manning,Eli,Eli Manning,11,1,619,71,QB,NYG,...,NaN,NaN,NaN,NaN,352.0,13.0,31.0,12.0,50.0,20.0
146,175,Kizer,DeShone,DeShone Kizer,13,1,666,39,QB,CLE,...,NaN,NaN,NaN,NaN,255.0,22.0,38.0,77.0,58.0,22.0
151,183,Taylor,Tyrod,Tyrod Taylor,13,1,625,63,QB,BUF,...,NaN,NaN,NaN,NaN,263.0,4.0,46.0,84.0,26.0,15.0
173,210,Bortles,Blake,Blake Bortles,15,2,654,47,QB,JAC,...,NaN,NaN,NaN,NaN,315.0,13.0,24.0,57.0,20.0,12.0
186,229,Smith,Alex,Alex Smith,16,1,633,51,QB,WAS,...,NaN,NaN,NaN,NaN,341.0,5.0,35.0,60.0,6.0,4.0
187,230,Flacco,Joe,Joe Flacco,16,1,635,51,QB,BAL,...,NaN,NaN,NaN,NaN,352.0,13.0,27.0,25.0,52.0,21.0
210,254,Goff,Jared,Jared Goff,18,2,667,39,QB,LAR,...,NaN,NaN,NaN,NaN,296.0,7.0,25.0,28.0,19.0,11.0

In [14]:
rb1 = rb[(rb['FantasyPointsRank'] <= 100)]
wr1 = wr[(wr['FantasyPointsRank'] <= 100)]
te1 = te[(te['FantasyPointsRank'] <= 100)]
qb1 = qb[(qb['FantasyPointsRank'] <= 100)]
rb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Bell,Le'Veon,Le'Veon Bell,1,1,469,76,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
5,6,Elliott,Ezekiel,Ezekiel Elliott,1,1,448,71,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,442,76,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,7.0
7,8,Gordon,Melvin,Melvin Gordon,1,1,571,72,RB,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,5.0
8,9,Freeman,Devonta,Devonta Freeman,1,1,532,77,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,13.0
10,11,Fournette,Leonard,Leonard Fournette,1,1,541,98,RB,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,8.0
13,14,Gurley,Todd,Todd Gurley,2,1,447,78,RB,LAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
16,17,Murray,DeMarco,DeMarco Murray,2,1,436,74,RB,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.5,22.0
18,19,Howard,Jordan,Jordan Howard,2,1,449,72,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,12.0
21,22,McCaffrey,Christian,Christian McCaffrey,2,1,542,98,RB,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,11.0
25,26,Miller,Lamar,Lamar Miller,3,1,450,74,RB,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,16.0
30,31,Lynch,Marshawn,Marshawn Lynch,3,1,583,85,RB,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,20.0
35,36,Hyde,Carlos,Carlos Hyde,3,1,530,75,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,9.0
43,44,Ingram,Mark,Mark Ingram,4,1,461,80,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
44,45,Hunt,Kareem,Kareem Hunt,4,1,546,97,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,4.0
49,50,Anderson,C.J.,C.J. Anderson,5,1,462,76,RB,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,17.0
55,58,Coleman,Tevin,Tevin Coleman,5,2,531,79,RB,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,19.0
83,99,Gore,Frank,Frank Gore,7,1,497,75,RB,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,18.0
91,111,Kamara,Alvin,Alvin Kamara,8,1,600,78,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0
103,125,Johnson,Duke,Duke Johnson,9,1,449,69,RB,CLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,15.0
156,189,Murray,Latavius,Latavius Murray,14,1,503,66,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,23.0
180,220,McKinnon,Jerick,Jerick McKinnon,16,1,612,16,RB,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,21.0
201,245,Lewis,Dion,Dion Lewis,17,1,571,49,RB,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,14.0
280,324,Allen,Javorius,Javorius Allen,24,3,896,5,RB,BAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,24.0

In [15]:
wr1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,433,77,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2.0
2,3,Jones,Julio,Julio Jones,1,1,438,77,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,4.0
3,4,Evans,Mike,Mike Evans,1,1,425,72,WR,TBB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,17.0
4,5,Green,A.J.,A.J. Green,1,1,395,72,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
12,13,Thomas,Michael,Michael Thomas,2,1,392,78,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,6.0
15,16,Bryant,Dez,Dez Bryant,2,1,485,73,WR,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.5,24.0
19,20,Hilton,T.Y.,T.Y. Hilton,2,1,386,74,WR,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,25.0
20,21,Cooks,Brandin,Brandin Cooks,2,1,389,79,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,12.0
22,23,Hopkins,DeAndre,DeAndre Hopkins,2,1,364,74,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0
23,24,Baldwin,Doug,Doug Baldwin,2,1,528,74,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
28,29,Thomas,Demaryius,Demaryius Thomas,3,1,502,75,WR,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,20.0
29,30,Allen,Keenan,Keenan Allen,3,1,532,75,WR,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,3.0
32,33,Jeffery,Alshon,Alshon Jeffery,3,1,514,80,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,18.0
34,35,Adams,Davante,Davante Adams,3,1,416,75,WR,GBP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,14.0
36,37,Hill,Tyreek,Tyreek Hill,4,1,468,80,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,8.0
37,38,Crabtree,Michael,Michael Crabtree,4,1,496,75,WR,OAK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,28.0
38,39,Landry,Jarvis,Jarvis Landry,4,1,455,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,7.0
40,41,Tate,Golden,Golden Tate,4,1,390,76,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,15.0
47,48,Diggs,Stefon,Stefon Diggs,4,1,519,81,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,19.0
48,49,Fitzgerald,Larry,Larry Fitzgerald,5,1,415,76,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,5.0
95,115,Thielen,Adam,Adam Thielen,8,2,563,75,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,10.0
118,144,Jones,Marvin,Marvin Jones,10,4,470,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,9.0
120,146,Smith-Schuster,JuJu,JuJu Smith-Schuster,11,1,724,47,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,22.0
137,165,Kupp,Cooper,Cooper Kupp,12,4,571,68,WR,LAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,26.0
196,240,Sanu,Mohamed,Mohamed Sanu,17,1,565,58,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,29.0
208,252,Anderson,Robby,Robby Anderson,18,1,645,50,WR,NYJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,16.0
211,255,Stills,Kenny,Kenny Stills,18,6,655,44,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,27.0
218,262,Funchess,Devin,Devin Funchess,19,2,686,45,WR,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,21.0
219,263,Agholor,Nelson,Nelson Agholor,19,2,696,24,WR,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,23.0
261,305,Goodwin,Marquise,Marquise Goodwin,22,4,1074,16,WR,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,30.0

In [16]:
te1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
14,15,Gronkowski,Rob,Rob Gronkowski,2,1,353,78,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,1.0
27,28,Kelce,Travis,Travis Kelce,3,1,535,79,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,2.0
53,54,Graham,Jimmy,Jimmy Graham,5,1,366,75,TE,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,4.0
74,85,Ertz,Zach,Zach Ertz,7,3,450,79,TE,PHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,3.0
127,154,Engram,Evan,Evan Engram,11,1,556,75,TE,NYG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,5.0

In [17]:
qb1

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
24,25,Brady,Tom,Tom Brady,3,1,491,76,QB,NEP,...,NaN,NaN,NaN,NaN,385.0,8.0,35.0,25.0,5.0,3.0
33,34,Brees,Drew,Drew Brees,3,1,495,76,QB,NOS,...,NaN,NaN,NaN,NaN,386.0,8.0,20.0,33.0,13.0,8.0
42,43,Keenum,Case,Case Keenum,4,1,1243,5,QB,MIN,...,NaN,NaN,NaN,NaN,325.0,7.0,22.0,40.0,22.0,13.0
46,47,Ryan,Matt,Matt Ryan,4,1,472,77,QB,ATL,...,NaN,NaN,NaN,NaN,342.0,12.0,24.0,32.0,25.0,14.0
51,52,Wilson,Russell,Russell Wilson,5,1,478,73,QB,SEA,...,NaN,NaN,NaN,NaN,339.0,11.0,43.0,95.0,2.0,1.0
58,62,Carr,Derek,Derek Carr,5,1,509,73,QB,OAK,...,NaN,NaN,NaN,NaN,323.0,13.0,20.0,23.0,33.0,18.0
60,67,Winston,Jameis,Jameis Winston,6,1,473,74,QB,TBB,...,NaN,NaN,NaN,NaN,282.0,11.0,33.0,33.0,38.0,19.0
61,69,Newton,Cam,Cam Newton,6,1,479,77,QB,CAR,...,NaN,NaN,NaN,NaN,291.0,16.0,35.0,139.0,3.0,2.0
68,76,Mariota,Marcus,Marcus Mariota,6,1,503,77,QB,TEN,...,NaN,NaN,NaN,NaN,281.0,15.0,27.0,60.0,29.0,17.0
72,82,Cousins,Kirk,Kirk Cousins,7,1,498,74,QB,WAS,...,NaN,NaN,NaN,NaN,347.0,13.0,41.0,49.0,8.0,5.0
79,92,Roethlisberger,Ben,Ben Roethlisberger,7,1,481,79,QB,PIT,...,NaN,NaN,NaN,NaN,360.0,14.0,21.0,28.0,16.0,10.0
81,95,Prescott,Dak,Dak Prescott,7,1,533,73,QB,DAL,...,NaN,NaN,NaN,NaN,308.0,13.0,32.0,57.0,15.0,9.0
90,109,Stafford,Matthew,Matthew Stafford,8,1,616,74,QB,DET,...,NaN,NaN,NaN,NaN,371.0,10.0,47.0,29.0,10.0,6.0
94,114,Rivers,Philip,Philip Rivers,8,1,487,74,QB,LAC,...,NaN,NaN,NaN,NaN,360.0,10.0,18.0,18.0,11.0,7.0
123,149,Dalton,Andy,Andy Dalton,11,1,620,71,QB,CIN,...,NaN,NaN,NaN,NaN,297.0,12.0,39.0,38.0,28.0,16.0
126,153,Manning,Eli,Eli Manning,11,1,619,71,QB,NYG,...,NaN,NaN,NaN,NaN,352.0,13.0,31.0,12.0,50.0,20.0
146,175,Kizer,DeShone,DeShone Kizer,13,1,666,39,QB,CLE,...,NaN,NaN,NaN,NaN,255.0,22.0,38.0,77.0,58.0,22.0
151,183,Taylor,Tyrod,Tyrod Taylor,13,1,625,63,QB,BUF,...,NaN,NaN,NaN,NaN,263.0,4.0,46.0,84.0,26.0,15.0
173,210,Bortles,Blake,Blake Bortles,15,2,654,47,QB,JAC,...,NaN,NaN,NaN,NaN,315.0,13.0,24.0,57.0,20.0,12.0
184,224,Cutler,Jay,Jay Cutler,16,1,941,38,QB,MIA,...,NaN,NaN,NaN,NaN,266.0,14.0,20.0,19.0,80.0,23.0
186,229,Smith,Alex,Alex Smith,16,1,633,51,QB,WAS,...,NaN,NaN,NaN,NaN,341.0,5.0,35.0,60.0,6.0,4.0
187,230,Flacco,Joe,Joe Flacco,16,1,635,51,QB,BAL,...,NaN,NaN,NaN,NaN,352.0,13.0,27.0,25.0,52.0,21.0
210,254,Goff,Jared,Jared Goff,18,2,667,39,QB,LAR,...,NaN,NaN,NaN,NaN,296.0,7.0,25.0,28.0,19.0,11.0

In [18]:
rb2 = rb[(rb['FantasyPointsRank'] <= 50)]
wr2 = wr[(wr['FantasyPointsRank'] <= 50)]
te2 = te[(te['FantasyPointsRank'] <= 50)]
qb2 = qb[(qb['FantasyPointsRank'] <= 50)]
rb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Bell,Le'Veon,Le'Veon Bell,1,1,469,76,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
5,6,Elliott,Ezekiel,Ezekiel Elliott,1,1,448,71,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,442,76,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,7.0
7,8,Gordon,Melvin,Melvin Gordon,1,1,571,72,RB,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,5.0
10,11,Fournette,Leonard,Leonard Fournette,1,1,541,98,RB,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,8.0
13,14,Gurley,Todd,Todd Gurley,2,1,447,78,RB,LAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
18,19,Howard,Jordan,Jordan Howard,2,1,449,72,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,12.0
21,22,McCaffrey,Christian,Christian McCaffrey,2,1,542,98,RB,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,11.0
35,36,Hyde,Carlos,Carlos Hyde,3,1,530,75,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,9.0
43,44,Ingram,Mark,Mark Ingram,4,1,461,80,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
44,45,Hunt,Kareem,Kareem Hunt,4,1,546,97,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,4.0
91,111,Kamara,Alvin,Alvin Kamara,8,1,600,78,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0

In [19]:
wr2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,433,77,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2.0
2,3,Jones,Julio,Julio Jones,1,1,438,77,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,4.0
4,5,Green,A.J.,A.J. Green,1,1,395,72,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
12,13,Thomas,Michael,Michael Thomas,2,1,392,78,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,6.0
20,21,Cooks,Brandin,Brandin Cooks,2,1,389,79,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,12.0
22,23,Hopkins,DeAndre,DeAndre Hopkins,2,1,364,74,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0
23,24,Baldwin,Doug,Doug Baldwin,2,1,528,74,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
29,30,Allen,Keenan,Keenan Allen,3,1,532,75,WR,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,3.0
36,37,Hill,Tyreek,Tyreek Hill,4,1,468,80,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,8.0
38,39,Landry,Jarvis,Jarvis Landry,4,1,455,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,7.0
48,49,Fitzgerald,Larry,Larry Fitzgerald,5,1,415,76,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,5.0
95,115,Thielen,Adam,Adam Thielen,8,2,563,75,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,10.0
118,144,Jones,Marvin,Marvin Jones,10,4,470,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,9.0

In [20]:
te2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_te
14,15,Gronkowski,Rob,Rob Gronkowski,2,1,353,78,TE,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,1.0
27,28,Kelce,Travis,Travis Kelce,3,1,535,79,TE,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,2.0

In [21]:
qb2

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
24,25,Brady,Tom,Tom Brady,3,1,491,76,QB,NEP,...,NaN,NaN,NaN,NaN,385.0,8.0,35.0,25.0,5.0,3.0
33,34,Brees,Drew,Drew Brees,3,1,495,76,QB,NOS,...,NaN,NaN,NaN,NaN,386.0,8.0,20.0,33.0,13.0,8.0
42,43,Keenum,Case,Case Keenum,4,1,1243,5,QB,MIN,...,NaN,NaN,NaN,NaN,325.0,7.0,22.0,40.0,22.0,13.0
46,47,Ryan,Matt,Matt Ryan,4,1,472,77,QB,ATL,...,NaN,NaN,NaN,NaN,342.0,12.0,24.0,32.0,25.0,14.0
51,52,Wilson,Russell,Russell Wilson,5,1,478,73,QB,SEA,...,NaN,NaN,NaN,NaN,339.0,11.0,43.0,95.0,2.0,1.0
58,62,Carr,Derek,Derek Carr,5,1,509,73,QB,OAK,...,NaN,NaN,NaN,NaN,323.0,13.0,20.0,23.0,33.0,18.0
60,67,Winston,Jameis,Jameis Winston,6,1,473,74,QB,TBB,...,NaN,NaN,NaN,NaN,282.0,11.0,33.0,33.0,38.0,19.0
61,69,Newton,Cam,Cam Newton,6,1,479,77,QB,CAR,...,NaN,NaN,NaN,NaN,291.0,16.0,35.0,139.0,3.0,2.0
68,76,Mariota,Marcus,Marcus Mariota,6,1,503,77,QB,TEN,...,NaN,NaN,NaN,NaN,281.0,15.0,27.0,60.0,29.0,17.0
72,82,Cousins,Kirk,Kirk Cousins,7,1,498,74,QB,WAS,...,NaN,NaN,NaN,NaN,347.0,13.0,41.0,49.0,8.0,5.0
79,92,Roethlisberger,Ben,Ben Roethlisberger,7,1,481,79,QB,PIT,...,NaN,NaN,NaN,NaN,360.0,14.0,21.0,28.0,16.0,10.0
81,95,Prescott,Dak,Dak Prescott,7,1,533,73,QB,DAL,...,NaN,NaN,NaN,NaN,308.0,13.0,32.0,57.0,15.0,9.0
90,109,Stafford,Matthew,Matthew Stafford,8,1,616,74,QB,DET,...,NaN,NaN,NaN,NaN,371.0,10.0,47.0,29.0,10.0,6.0
94,114,Rivers,Philip,Philip Rivers,8,1,487,74,QB,LAC,...,NaN,NaN,NaN,NaN,360.0,10.0,18.0,18.0,11.0,7.0
123,149,Dalton,Andy,Andy Dalton,11,1,620,71,QB,CIN,...,NaN,NaN,NaN,NaN,297.0,12.0,39.0,38.0,28.0,16.0
126,153,Manning,Eli,Eli Manning,11,1,619,71,QB,NYG,...,NaN,NaN,NaN,NaN,352.0,13.0,31.0,12.0,50.0,20.0
151,183,Taylor,Tyrod,Tyrod Taylor,13,1,625,63,QB,BUF,...,NaN,NaN,NaN,NaN,263.0,4.0,46.0,84.0,26.0,15.0
173,210,Bortles,Blake,Blake Bortles,15,2,654,47,QB,JAC,...,NaN,NaN,NaN,NaN,315.0,13.0,24.0,57.0,20.0,12.0
186,229,Smith,Alex,Alex Smith,16,1,633,51,QB,WAS,...,NaN,NaN,NaN,NaN,341.0,5.0,35.0,60.0,6.0,4.0
210,254,Goff,Jared,Jared Goff,18,2,667,39,QB,LAR,...,NaN,NaN,NaN,NaN,296.0,7.0,25.0,28.0,19.0,11.0

In [22]:
rb3 = rb[(rb['FantasyPointsRank'] <= 25)]
wr3 = wr[(wr['FantasyPointsRank'] <= 25)]
te3 = te[(te['FantasyPointsRank'] <= 25)]
qb3 = qb[(qb['FantasyPointsRank'] <= 25)]
rb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
0,1,Bell,Le'Veon,Le'Veon Bell,1,1,469,76,RB,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
6,7,McCoy,LeSean,LeSean McCoy,1,1,442,76,RB,BUF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,7.0
7,8,Gordon,Melvin,Melvin Gordon,1,1,571,72,RB,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,5.0
13,14,Gurley,Todd,Todd Gurley,2,1,447,78,RB,LAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
43,44,Ingram,Mark,Mark Ingram,4,1,461,80,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,6.0
44,45,Hunt,Kareem,Kareem Hunt,4,1,546,97,RB,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,4.0
91,111,Kamara,Alvin,Alvin Kamara,8,1,600,78,RB,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0

In [23]:
wr3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
1,2,Brown,Antonio,Antonio Brown,1,1,433,77,WR,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2.0
22,23,Hopkins,DeAndre,DeAndre Hopkins,2,1,364,74,WR,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0
29,30,Allen,Keenan,Keenan Allen,3,1,532,75,WR,LAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,3.0

In [26]:
wr3['FantasyPointsRank'].sum()

55.0

In [24]:
te3

Empty DataFrame
Columns: [Rank_x, Player_x, Unnamed: 2, Player_Name, Round, Min Pick, Max Pick, % Selected, Position, Team, PositionRank, Rank_y, Player_y, ATT, YDS, Y/A, LG, 20+, TD, REC, TGT, YDS.1, Y/R, TD.1, FL, G, FPTS, FPTS/G, OWN, FG, FGA, PCT, 1-19, 20-29, 30-39, 40-49, 50+, XPT, XPA, CMP, INT, SACKS, ATT.1, FantasyPointsRank, performance_fp_te]
Index: []

[0 rows x 45 columns]

In [25]:
qb3

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_qb
24,25,Brady,Tom,Tom Brady,3,1,491,76,QB,NEP,...,NaN,NaN,NaN,NaN,385.0,8.0,35.0,25.0,5.0,3.0
33,34,Brees,Drew,Drew Brees,3,1,495,76,QB,NOS,...,NaN,NaN,NaN,NaN,386.0,8.0,20.0,33.0,13.0,8.0
42,43,Keenum,Case,Case Keenum,4,1,1243,5,QB,MIN,...,NaN,NaN,NaN,NaN,325.0,7.0,22.0,40.0,22.0,13.0
46,47,Ryan,Matt,Matt Ryan,4,1,472,77,QB,ATL,...,NaN,NaN,NaN,NaN,342.0,12.0,24.0,32.0,25.0,14.0
51,52,Wilson,Russell,Russell Wilson,5,1,478,73,QB,SEA,...,NaN,NaN,NaN,NaN,339.0,11.0,43.0,95.0,2.0,1.0
61,69,Newton,Cam,Cam Newton,6,1,479,77,QB,CAR,...,NaN,NaN,NaN,NaN,291.0,16.0,35.0,139.0,3.0,2.0
72,82,Cousins,Kirk,Kirk Cousins,7,1,498,74,QB,WAS,...,NaN,NaN,NaN,NaN,347.0,13.0,41.0,49.0,8.0,5.0
79,92,Roethlisberger,Ben,Ben Roethlisberger,7,1,481,79,QB,PIT,...,NaN,NaN,NaN,NaN,360.0,14.0,21.0,28.0,16.0,10.0
81,95,Prescott,Dak,Dak Prescott,7,1,533,73,QB,DAL,...,NaN,NaN,NaN,NaN,308.0,13.0,32.0,57.0,15.0,9.0
90,109,Stafford,Matthew,Matthew Stafford,8,1,616,74,QB,DET,...,NaN,NaN,NaN,NaN,371.0,10.0,47.0,29.0,10.0,6.0
94,114,Rivers,Philip,Philip Rivers,8,1,487,74,QB,LAC,...,NaN,NaN,NaN,NaN,360.0,10.0,18.0,18.0,11.0,7.0
173,210,Bortles,Blake,Blake Bortles,15,2,654,47,QB,JAC,...,NaN,NaN,NaN,NaN,315.0,13.0,24.0,57.0,20.0,12.0
186,229,Smith,Alex,Alex Smith,16,1,633,51,QB,WAS,...,NaN,NaN,NaN,NaN,341.0,5.0,35.0,60.0,6.0,4.0
210,254,Goff,Jared,Jared Goff,18,2,667,39,QB,LAR,...,NaN,NaN,NaN,NaN,296.0,7.0,25.0,28.0,19.0,11.0

In [27]:
rb_25_50 = rb2[(rb2['FantasyPointsRank'] >= 25)]
wr_25_50 = wr2[(wr2['FantasyPointsRank'] >= 25)]
te_25_50 = te2[(te2['FantasyPointsRank'] >= 25)]
qb_25_50 = qb2[(qb2['FantasyPointsRank'] >= 25)]
rb_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_rb
5,6,Elliott,Ezekiel,Ezekiel Elliott,1,1,448,71,RB,DAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,10.0
10,11,Fournette,Leonard,Leonard Fournette,1,1,541,98,RB,JAC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,8.0
18,19,Howard,Jordan,Jordan Howard,2,1,449,72,RB,CHI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,12.0
21,22,McCaffrey,Christian,Christian McCaffrey,2,1,542,98,RB,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,11.0
35,36,Hyde,Carlos,Carlos Hyde,3,1,530,75,RB,SFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,9.0

In [29]:
rb_25_50['FantasyPointsRank'].sum()

202.0

In [28]:
wr_25_50

,Rank_x,Player_x,Unnamed: 2,Player_Name,Round,Min Pick,Max Pick,% Selected,Position,Team,...,40-49,50+,XPT,XPA,CMP,INT,SACKS,ATT.1,FantasyPointsRank,performance_fp_wr
2,3,Jones,Julio,Julio Jones,1,1,438,77,WR,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,4.0
4,5,Green,A.J.,A.J. Green,1,1,395,72,WR,CIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,11.0
12,13,Thomas,Michael,Michael Thomas,2,1,392,78,WR,NOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,6.0
20,21,Cooks,Brandin,Brandin Cooks,2,1,389,79,WR,NEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,12.0
23,24,Baldwin,Doug,Doug Baldwin,2,1,528,74,WR,SEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,13.0
36,37,Hill,Tyreek,Tyreek Hill,4,1,468,80,WR,KCC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,8.0
38,39,Landry,Jarvis,Jarvis Landry,4,1,455,75,WR,MIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,7.0
48,49,Fitzgerald,Larry,Larry Fitzgerald,5,1,415,76,WR,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,5.0
95,115,Thielen,Adam,Adam Thielen,8,2,563,75,WR,MIN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,10.0
118,144,Jones,Marvin,Marvin Jones,10,4,470,68,WR,DET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,9.0

In [30]:
wr_25_50['FantasyPointsRank'].sum()

390.0