In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen as uReq


import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from matplotlib import rcParams

%matplotlib inline

In [15]:
offense_19 = pd.read_csv('Data/team_offense_stats_csv/2019_offense_stats_nfl_csv.csv')
offense_18 = pd.read_csv('Data/team_offense_stats_csv/2018_offense_stats_nfl_csv.csv')
offense_17 = pd.read_csv('Data/team_offense_stats_csv/2017_offense_stats_nfl_csv.csv')
offense_16 = pd.read_csv('Data/team_offense_stats_csv/2016_offense_stats_nfl_csv.csv')
offense_15 = pd.read_csv('Data/team_offense_stats_csv/2015_offense_stats_nfl_csv.csv')
offense_14 = pd.read_csv('Data/team_offense_stats_csv/2014_offense_stats_nfl_csv.csv')
offense_13 = pd.read_csv('Data/team_offense_stats_csv/2013_offense_stats_nfl_csv.csv')

In [9]:
offense_19.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,Dallas Cowboys,16,434,27.1,2153,134.6,4751,296.9,6904,431.5
1,Baltimore Ravens,16,531,33.2,3296,206.0,3225,201.6,6521,407.6
2,Tampa Bay Buccaneers,16,458,28.6,1521,95.1,4845,302.8,6366,397.9
3,San Francisco 49ers,16,479,29.9,2305,144.1,3792,237.0,6097,381.1
4,Atlanta Falcons,16,381,23.8,1361,85.1,4714,294.6,6075,379.7

In [23]:
offense_18.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,Kansas City Chiefs,16,565,35.3,1855,115.9,4955,309.7,6810,425.6
1,Los Angeles Rams,16,527,32.9,2231,139.4,4507,281.7,6738,421.1
2,Tampa Bay Buccaneers,16,396,24.8,1523,95.2,5125,320.3,6648,415.5
3,Pittsburgh Steelers,16,428,26.8,1445,90.3,5008,313.0,6453,403.3
4,New England Patriots,16,436,27.2,2037,127.3,4258,266.1,6295,393.4

In [24]:
offense_17.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,New England Patriots,16,458,28.6,1889,118.1,4418,276.1,6307,394.2
1,New Orleans Saints,16,448,28.0,2070,129.4,4189,261.8,6259,391.2
2,Pittsburgh Steelers,16,406,25.4,1667,104.2,4380,273.8,6047,377.9
3,Los Angeles Chargers,16,355,22.2,1595,99.7,4431,276.9,6026,376.6
4,Kansas City Chiefs,16,415,25.9,1903,118.9,4104,256.5,6007,375.4

In [25]:
offense_16.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,New Orleans Saints,16,469,29.3,1742,108.9,5074,317.1,6816,426.0
1,Atlanta Falcons,16,540,33.8,1928,120.5,4725,295.3,6653,415.8
2,Washington Redskins,16,396,24.8,1696,106.0,4758,297.4,6454,403.4
3,New England Patriots,16,441,27.6,1872,117.0,4308,269.2,6180,386.2
4,Dallas Cowboys,16,421,26.3,2396,149.8,3631,226.9,6027,376.7

In [26]:
offense_15.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,Arizona Cardinals,16,489,30.6,1917,119.8,4616,288.5,6533,408.3
1,New Orleans Saints,16,408,25.5,1491,93.2,4970,310.6,6461,403.8
2,Pittsburgh Steelers,16,423,26.4,1724,107.8,4603,287.7,6327,395.4
3,Seattle Seahawks,16,423,26.4,2268,141.8,3790,236.9,6058,378.6
4,Tampa Bay Buccaneers,16,342,21.4,2162,135.1,3852,240.8,6014,375.9

In [27]:
offense_14.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,New Orleans Saints,16,401,25.1,1818,113.6,4764,297.8,6582,411.4
1,Pittsburgh Steelers,16,436,27.2,1752,109.5,4825,301.6,6577,411.1
2,Indianapolis Colts,16,458,28.6,1612,100.8,4894,305.9,6506,406.6
3,Denver Broncos,16,482,30.1,1785,111.6,4661,291.3,6446,402.9
4,Philadelphia Eagles,16,474,29.6,1992,124.5,4356,272.2,6348,396.8

In [28]:
offense_13.head(5)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
0,Denver Broncos,16,606,37.9,1873,117.1,5444,340.2,7317,457.3
1,Philadelphia Eagles,16,442,27.6,2566,160.4,4110,256.9,6676,417.2
2,Green Bay Packers,16,417,26.1,2136,133.5,4268,266.8,6404,400.2
3,New Orleans Saints,16,414,25.9,1473,92.1,4918,307.4,6391,399.4
4,San Diego Chargers,16,396,24.8,1965,122.8,4328,270.5,6293,393.3

In [29]:
rush_yards_19 = offense_19['RushYds'].sum()
pass_yards_19 = offense_19['PassYds'].sum()
total_yards_19 = offense_19['TotYds'].sum()

In [30]:
rush_yards_18 = offense_18['RushYds'].sum()
pass_yards_18 = offense_18['PassYds'].sum()
total_yards_18 = offense_18['TotYds'].sum()

In [31]:
rush_yards_17 = offense_17['RushYds'].sum()
pass_yards_17 = offense_17['PassYds'].sum()
total_yards_17 = offense_17['TotYds'].sum()

In [32]:
rush_yards_16 = offense_16['RushYds'].sum()
pass_yards_16 = offense_16['PassYds'].sum()
total_yards_16 = offense_16['TotYds'].sum()

In [33]:
rush_yards_15 = offense_15['RushYds'].sum()
pass_yards_15 = offense_15['PassYds'].sum()
total_yards_15 = offense_15['TotYds'].sum()

In [34]:
rush_yards_14 = offense_14['RushYds'].sum()
pass_yards_14 = offense_14['PassYds'].sum()
total_yards_14 = offense_14['TotYds'].sum()

In [35]:
rush_yards_13 = offense_13['RushYds'].sum()
pass_yards_13 = offense_13['PassYds'].sum()
total_yards_13 = offense_13['TotYds'].sum()

In [37]:
rush_stats = [rush_yards_13, rush_yards_14, rush_yards_15, rush_yards_16, rush_yards_17, rush_yards_18, rush_yards_19]
print(rush_stats)

[57806, 58597, 56172, 55763, 55724, 57002, 57795]

In [38]:
pass_stats = [pass_yards_13, pass_yards_14, pass_yards_15, pass_yards_16, pass_yards_17, pass_yards_18, pass_yards_19]
print(pass_stats)

[120633, 121247, 124836, 123639, 114870, 121737, 120301]

In [43]:
top_16_offense_19 = offense_19.head(16)
bottom_16_offense_19 = offense_19.tail(16)

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G
16,Detroit Lions,16,341,21.3,1649,103.1,3900,243.8,5549,346.8
17,Green Bay Packers,16,376,23.5,1795,112.2,3733,233.3,5528,345.5
18,Carolina Panthers,16,340,21.2,1819,113.7,3650,228.1,5469,341.8
19,Jacksonville Jaguars,16,300,18.8,1708,106.8,3760,235.0,5468,341.8
20,Arizona Cardinals,16,361,22.6,1990,124.4,3477,217.3,5467,341.7
21,Cleveland Browns,16,335,20.9,1901,118.8,3554,222.1,5455,340.9
22,New York Giants,16,341,21.3,1685,105.3,3731,233.2,5416,338.5
23,Buffalo Bills,16,314,19.6,2054,128.4,3229,201.8,5283,330.2
24,Indianapolis Colts,16,361,22.6,2130,133.1,3108,194.2,5238,327.4
25,Cincinnati Bengals,16,279,17.4,1517,94.8,3652,228.2,5169,323.1
26,Miami Dolphins,16,306,19.1,1156,72.2,3804,237.8,4960,310.0
27,Denver Broncos,16,282,17.6,1662,103.9,3115,194.7,4777,298.6
28,Chicago Bears,16,280,17.5,1458,91.1,3291,205.7,4749,296.8
29,Pittsburgh Steelers,16,289,18.1,1447,90.4,2981,186.3,4428,276.8
30,Washington Redskins,16,266,16.6,1583,98.9,2812,175.8,4395,274.7
31,New York Jets,16,276,17.2,1257,78.6,3111,194.4,4368,273.0

In [44]:
top_16_offense_18 = offense_18.head(16)
bottom_16_offense_18 = offense_18.tail(16)

In [45]:
top_16_offense_17 = offense_17.head(16)
bottom_16_offense_17 = offense_17.tail(16)

In [46]:
top_16_offense_16 = offense_16.head(16)
bottom_16_offense_16 = offense_16.tail(16)

In [47]:
top_16_offense_15 = offense_15.head(16)
bottom_16_offense_15 = offense_15.tail(16)

In [48]:
top_16_offense_14 = offense_14.head(16)
bottom_16_offense_14 = offense_14.tail(16)

In [49]:
top_16_offense_13 = offense_13.head(16)
bottom_16_offense_13 = offense_13.tail(16)

In [51]:
top_16_pass = [top_16_offense_13['PassYds'], top_16_offense_14['PassYds'], top_16_offense_15['PassYds'], top_16_offense_16['PassYds'], top_16_offense_17['PassYds'], top_16_offense_18['PassYds'], top_16_offense_19['PassYds']]
bottom_16_rush = [bottom_16_offense_13['RushYds'], bottom_16_offense_14['RushYds'], bottom_16_offense_15['RushYds'], bottom_16_offense_16['RushYds'], bottom_16_offense_17['RushYds'], bottom_16_offense_18['RushYds'], bottom_16_offense_19['RushYds']]
top_16_rush = [top_16_offense_13['RushYds'], top_16_offense_14['RushYds'], top_16_offense_15['RushYds'], top_16_offense_16['RushYds'], top_16_offense_17['RushYds'], top_16_offense_18['RushYds'], top_16_offense_19['RushYds']]
bottom_16_pass = [bottom_16_offense_13['PassYds'], bottom_16_offense_14['PassYds'],bottom_16_offense_15['PassYds'],bottom_16_offense_16['PassYds'],bottom_16_offense_17['PassYds'], bottom_16_offense_18['PassYds'], bottom_16_offense_19['PassYds']]